body{ 
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

h1{ 
  font-size: 50px;
  font-weight: 500;
}

.orange-color{ 
  color: orange;
}

section{
  display: flex;
  padding-left: 2%;
}

.half-widt{
  width: 50%;
}

.img{
  height: 80%;
  padding-left: 10%;
  padding-top: 20px;
}

.link-button{
  color: aliceblue;
  text-decoration: none;
  background-image: linear-gradient(45deg, lightsalmon, tomato);
  padding: 10px 40px;
  border-radius: 5px;
}

.top-banner{
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big{
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.img00101{
  width: 700px;
}

.half-botom{
padding-right: 200px;
}

.batton-text{
  font-weight: 800;
}